.navul {
  display: flex;
  justify-content: flex-end;
  background-color: darkseagreen;
}

.navli {
  display: inline;
  margin-right: 20px;
  font-size: 25px;
  color:darkslategray;

}


h1 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color:darkolivegreen;
  margin-top: 0;
}
